{% extends "applayout.html" %}
{% block title %}
Submit
{% endblock %}
{% block content %}
Submit a ticket!
    <form action="/submit/" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <br/>
        <textarea placeholder="Body" name="body"></textarea>
        <br/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}


