{% extends "applayout.html" %}
{% block title %}
Ticket
{% endblock %}
{% block content %}
You are viewing a ticket submitted by {{ticket.submitter}}:
    <p>{{ticket.body}}</p>
    <a href="{% url 'home' %}">Go home</a>
{% endblock %}