{% extends "applayout.html" %}
{% block title %}
Tickets
{% endblock %}
{% block content %}
{% for ticket in tickets %}
<div {% if not ticket.submitter == 'Test User' %}class="red-text"{% endif %}>
    <div class="content">Submitter: {{ticket.submitter}}, created at {{ticket.created_at}}</div>
    <div>Body: {{ticket.body}}</div>
    <hr/>
</div>
<a href="{% url 'ticket' ticket.pk %}">View this ticket</a>
{% endfor %}
{% endblock %}
