.tickets {
    display: flex;
    flex-wrap: wrap;
}
.ticket {
    margin: 10px;
    background: #fafafa;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
.ticket > * {
    padding: 0 20px;
}
.ticket h4 {
    margin: 20px 0 5px 0;
}
.ticket a {
    color: black;
    margin-top: 10 px;
    padding: 15px;
    display: block;
    border-radius: 5px;
    background: #efefef;
}
.ticket a:hover {
    background: #e2e2e2;
}

.red-text {
    color:red;
}